<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="QLGARAGUI.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
 <appSettings>
    <add key="ConnectionString" value="Data Source=LAPTOPDELL;Initial Catalog=QLGARA;Integrated Security=True"/>
    <!--<add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=QLHS;Integrated Security=True"/>-->
    <add key="MSHSFORMAT"  value="" />
  </appSettings>
 <userSettings>
  <QLGARAGUI.My.MySettings>
   <setting name="BaoCaoTon" serializeAs="String">
    <value>True</value>
   </setting>
  </QLGARAGUI.My.MySettings>
 </userSettings>
</configuration>